
body {
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;

}    
p, a, span, h1, h2, h3, h4, li, button {
    margin: 0;
    box-sizing: border-box;
    color: white;

}







