
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/src/assets/fonts/HelveticaNeueCyr-Thin.eot');
    src: url('/src/assets/fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('/src/assets/fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('/src/assets/fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('/src/assets/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'HelveticaNeueCyr', sans-serif;

}    
p, a, span, h1, h2, h3 {
    margin: 0;
    box-sizing: border-box;
}
.title {
    color: aqua;
}